<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
    }
    h1 {
        color: #333;
    }
    form {
        margin-top: 20px;
    }
    button {
        padding: 10px 20px;
        font-size: 16px;
        background-color: #fdcbf7ff;
        color: brown;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    button:hover {
        background-color: #a04594ff;
    }
</style>
<form method="post" action="{% url 'memorice_script' %}">
    {% csrf_token %}
    <button type="submit">Ejecutar Memorice</button>
</form>