<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #ffe4faff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
    }
    h1 {
        color: #382f2fff;
    }
    form {
        margin-top: 20px;
    }
    button {
        padding: 10px 20px;
        font-size: 16px;
        background-color: #60e7ffff;
        color: brown;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    button:hover {
        background-color: #5ff8fdff;
    }
</style>

<h2>¿Se le cerro la pestaña?</h2>
<form method="post" action="{% url 'memorice_script' %}">
    {% csrf_token %}
    <button type="submit">Presione este boton</button>
</form>